/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "myFirstFont", sans-serif;
}

p {
  margin-bottom: 0px;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

select {
  height: 50px;
  margin: 0 20px 0 20px;
  border: 0;
  outline: 0;
}

/* Base */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #444;
  background-color: white;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.col-2 {
  width: 16, 666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33, 333333333%;
}

.col-6 {
  width: 50%;
}

.page-header {
  width: 100%;
  height: 70px;
  background-color: rgb(208, 203, 203);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header img {
  width: 120px;
  object-fit: contain;
  margin-left: 50px;
}

.cart {
  font-size: 30px;
  margin-right: 50px;
}

.section-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-product h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.product-item {
  width: 23%;
}

.product-image {
  width: 100%;
  height: 500px;
  position: relative;
}

.product-image img {
  background-image: url(https://flone.reactdemo.hasthemes.com/assets/img/product/furnitures/2.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}

.product-tag {
  position: absolute;
  top: 2%;
  left: 85%;
  color: #6610f2;
}

.product-tag p:first-child {
  color: pink;
}

.product-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.product-icon button {
  border-radius: 50%;
  background-color: #6610f2;
  padding: 14px;
  color: white;
}

.product-image:hover .product-icon {
  display: block;
}

.product-icon button:hover {
  background-color: pink;
}

.product-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 20px;
}

.product-title button i {
  font-size: 20px;
}

.product-title p:first-child {
  padding-bottom: 5px;
  font-weight: bold;
}

.product-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-text p:first-child {
  padding-bottom: 5px;
  font-weight: 500;
}

.product-text p:first-child:hover {
  color: #6610f2;
}

.product-text span {
  color: #ff1c1c;
}

.section-product > a {
  text-decoration: underline;
  font-weight: 500;
  margin-top: 50px;
}

.section-product a:hover {
  color: #6610f2;
}

.badge {
  font-size: 12px;
}
